<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

  <title><%= (current_page.data.page_title || current_page.data.title).capitalize %> | <%= data.site.name %> </title>
  <meta content="<%= current_page.data.description || data.site.description %>" name="description" />

  <script src="https://use.typekit.net/<%= data.site.typekitId %>.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <%= stylesheet_link_tag "all" %>
  <%= yield_content :css %>

  <%# <script src="/assets/js/libs/modernizr-custom.js"></script> %>
</head>
<body class="<%= page_classes %>">

  <header class="site-header" role="banner">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="/assets/img/josh-standard-trans.png" alt=""></a>
      </div>
    </div>
  </header>

  <main class="site-main" role="main">
    <div class="container">

      <%= yield %>

      <aside>
        <nav class="social">
          <ul>
            <li><a href="http://twitter.com/joshfry" class="twitter">
              <i class="fa fa-twitter"></i>
              <span>Twitter</span></a>
            </li>
            <li><a href="http://github.com/joshfry" class="github">
              <i class="fa fa-github"></i>
              <span>GitHub</span></a>
            </li>
            <li><a href="http://codepen.io/joshfry" class="codepen">
              <i class="fa fa-codepen"></i>
              <span>Codepen</span></a>
            </li>
            <li><a href="https://dribbble.com/joshfry" class="dribbble">
              <i class="fa fa-dribbble"></i>
              <span>Dribbble</span></a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </main>

  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <p class="copyright">© <%= Time.now.year %> | Made by <a href="http://twitter.com/joshfry">@joshfry</a></p>
    </div>
  </footer>

  <%#= javascript_include_tag  "all" %>
  <%#= yield_content :js %>

  <script>
    console.log('AUTO DEPLOYING WITH NETLIFY!!!');
  </script>

  <%= partial "analytics" %>

</body>
</html>
